body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

nav {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
}

.firstimg{
  width: 100%;
  height: 400px;
}

.secondimg{
  width: 100%;
  height: 250px;
}
li{
    display: inline-block;
    color: green;
    padding-right: 15px;
    margin-left: 0px;


}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
    color: #9900cc;
   }

h2{
    text-align: center;
}
 .contact{
  text-align: center;
  padding: 10px 10px 10px 10px;
  background-color: #edeff2;
  border-radius: 5px;
  margin-bottom: 10px;
}


.sub{
  margin-top: 5px;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;

}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
